In [48]:
import pandas as pd, numpy as np

In [49]:
df = pd.read_csv('poke_genie_export.csv')

In [50]:
# You give a whole evolutionary line here.
mons = ['Spheal', 'Sealeo','Walrein']
mon = mons[-1]
base_ivs = {
    # base_attack, base_defense, base_stamina
    'Walrein': (182, 176, 242),
    'Trevenant': (201,154,198)
}[mon]
df = df[df.Name.isin(mons)]

In [51]:
df

,Index,Name,Form,Pokemon Number,Gender,CP,HP,Atk IV,Def IV,Sta IV,...,Sha/Pur (U),Rank % (L),Rank # (L),Stat Prod (L),Dust Cost (L),Candy Cost (L),Name (L),Form (L),Sha/Pur (L),Marked for PvP use
0,1,Spheal,NaN,363,♂,270,80,6.0,12.0,10.0,...,0.0,91.89%,333.0,96.47%,0.0,25.0,Sealeo,NaN,0.0,NaN
1,2,Spheal,NaN,363,♀,509,113,5.0,3.0,9.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Spheal,NaN,363,NaN,368,86,15.0,14.0,1.0,...,0.0,31.75%,2796.0,91.02%,19600.0,20.0,Spheal,NaN,0.0,NaN
3,4,Spheal,NaN,363,♀,86,45,7.0,6.0,4.0,...,0.0,56.73%,1773.0,92.47%,3200.0,131.0,Walrein,NaN,0.0,NaN
4,5,Spheal,NaN,363,♂,201,64,NaN,NaN,NaN,...,0.0,30.08%,1888.0,92.70%,36100.0,40.0,Spheal,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,Spheal,NaN,363,NaN,86,45,9.0,1.0,6.0,...,0.0,52.11%,1962.0,91.95%,3200.0,131.0,Walrein,NaN,0.0,NaN
116,117,Spheal,NaN,363,NaN,182,67,0.0,13.0,8.0,...,1.0,98.83%,49.0,98.30%,8283.0,40.0,Sealeo,NaN,1.0,NaN
117,118,Spheal,NaN,363,NaN,178,66,0.0,11.0,4.0,...,1.0,96.29%,153.0,97.24%,59532.0,80.0,Spheal,NaN,1.0,NaN
118,119,Spheal,NaN,363,NaN,228,70,13.0,10.0,4.0,...,0.0,29.21%,2900.0,90.84%,34500.0,38.0,Spheal,NaN,0.0,NaN
119,120,Spheal,NaN,363,♀,232,73,15.0,5.0,12.0,...,0.0,28.01%,2949.0,91.18%,3000.0,28.0,Sealeo,NaN,0.0,NaN

In [52]:
#df.columns

In [53]:
def get_cpm(level):
    d = {
        1:	0.094,
        1.5: 0.1351374318,
        2: 0.16639787,
        2.5: 0.192650919,
        3: 0.21573247,
        3.5: 0.2365726613,
        4: 0.25572005,
        4.5: 0.2735303812,
        5: 0.29024988,
        5.5: 0.3060573775,
        6: 0.3210876,
        6.5: 0.3354450362,
        7: 0.34921268,
        7.5: 0.3624577511,
        8: 0.3752356,
        8.5: 0.387592416,
        9: 0.39956728,
        9.5: 0.4111935514,
        10: 0.4225,
        10.5: 0.4329264091,
        11: 0.44310755,
        11.5: 0.4530599591,
        12: 0.4627984,
        12.5: 0.472336093,
        13: 0.48168495,
        13.5: 0.4908558003,
        14: 0.49985844,
        14.5: 0.508701765,
        15: 0.51739395,
        15.5: 0.5259425113,
        16: 0.5343543,
        16.5: 0.5426357375,
        17: 0.5507927,
        17.5: 0.5588305862,
        18: 0.5667545,
        18.5: 0.5745691333,
        19: 0.5822789,
        19.5: 0.5898879072,
        20: 0.5974,
        20.5: 0.6048236651,
        21: 0.6121573,
        21.5: 0.6194041216,
        22: 0.6265671,
        22.5: 0.6336491432,
        23: 0.64065295,
        23.5: 0.6475809666,
        24: 0.65443563,
        24.5: 0.6612192524,
        25: 0.667934,
        25.5: 0.6745818959,
        26: 0.6811649,
        26.5: 0.6876849038,
        27: 0.69414365,
        27.5: 0.70054287,
        28: 0.7068842,
        28.5: 0.7131691091,
        29: 0.7193991,
        29.5: 0.7255756136,
        30: 0.7317,
        30.5: 0.7347410093,
        31: 0.7377695,
        31.5: 0.7407855938,
        32: 0.74378943,
        32.5: 0.7467812109,
        33: 0.74976104,
        33.5: 0.7527290867,
        34: 0.7556855,
        34.5: 0.7586303683,
        35: 0.76156384,
        35.5: 0.7644860647,
        36: 0.76739717,
        36.5: 0.7702972656,
        37: 0.7731865,
        37.5: 0.7760649616,
        38: 0.77893275,
        38.5: 0.7817900548,
        39: 0.784637,
        39.5: 0.7874736075,
        40: 0.7903,
        40.5: 0.792803968,
        41: 0.79530001,
        }
    return d[level]

In [54]:
get_cpm(2)

0.16639787

In [55]:
def ivs_to_stats(my_a, my_d, my_s,max_level=40,max_cp=1500.99, 
                 mon=mon, base_ivs=base_ivs):
    base_attack, base_defense, base_stamina = base_ivs
    attack = base_attack + my_a
    defense = my_d + base_defense
    stamina = my_s + base_stamina
    level = 10
    cp = 10
    level_attack, level_defense, level_stamina = 0,0,0
    stats = (level, cp, level_attack, level_defense, level_stamina)
    while level <= max_level:
        cpm = get_cpm(level)
        cp = (attack * defense**0.5 * stamina**0.5 * cpm**2) / 10
        level_attack = attack * cpm
        level_defense = defense * cpm
        level_stamina = stamina * cpm
        if cp <= max_cp:
            stats = level, cp, level_attack, level_defense, level_stamina
        level = level + 0.5
    level, cp, level_attack, level_defense, level_stamina = stats
    return stats
    #print(f'level {level} cp {cp:.0f} attack {level_attack:.1f} defense {level_defense:.1f} stamina {level_stamina:.0f}')

In [56]:
ivs_to_stats(13,14,15)

(19.5, 1499.3981125125251, 115.028141904, 112.078702368, 151.60119215039998)

In [57]:
d = {'CP':[],'max CP':[],'level':[],'attack':[],'defense':[],'stamina':[],'a':[],'d':[],'s':[]}
for row in df.iterrows():
    i,s = row
    orig_cp, my_a, my_d, my_s = s.CP, s['Atk IV'], s['Def IV'], s['Sta IV']
    level, cp, attack, defense, stamina = ivs_to_stats(my_a, my_d, my_s,max_level=41)
    #print('orig_cp',orig_cp,'my_a',my_a)
    d['CP'].append(orig_cp)
    d['max CP'].append(int(np.floor(cp)))
    d['level'].append(level)
    d['attack'].append(attack)
    d['defense'].append(defense)
    d['stamina'].append(int(np.floor(stamina)))
    d['a'].append(my_a)
    d['d'].append(my_d)
    d['s'].append(my_s)
mine = pd.DataFrame.from_dict(d)

In [58]:
# main GL
attack,defense,hp = 113.77, 113, 148
print('Here are the ones that meet the attack breakpoint')
mine[mine.attack >= attack]

Here are the ones that meet the attack breakpoint

      CP  max CP  level      attack     defense  stamina     a     d     s
1    509    1485   21.0  114.473415  109.576157      153   5.0   3.0   9.0
2    368    1472   19.5  116.207918  112.078702      143  15.0  14.0   1.0
3     86    1498   21.0  115.697730  111.412629      150   7.0   6.0   4.0
8    359    1498   20.0  117.090400  108.726800      150  14.0   6.0  10.0
9    504    1485   20.0  115.298200  108.129400      153  11.0   5.0  15.0
..   ...     ...    ...         ...         ...      ...   ...   ...   ...
108  557    1483   20.0  115.895600  110.519000      148  12.0   9.0   6.0
109  485    1476   21.5  114.589762  110.253934      150   3.0   2.0   1.0
110   86    1499   21.0  116.922044  108.351842      151   9.0   1.0   6.0
113  228    1488   20.0  116.493000  111.116400      146  13.0  10.0   4.0
114  232    1469   19.5  116.207918  106.769711      149  15.0   5.0  12.0

[85 rows x 9 columns]

In [59]:
print('Here are the ones that hit all of the BPs')
these = mine[mine.attack >= attack]
these = these[these.defense >= defense]
these = these[these.stamina >= hp]
these

Here are the ones that hit all of the BPs

     CP  max CP  level      attack     defense  stamina    a     d    s
14   11    1489   21.0  114.473415  113.861258      148  5.0  10.0  1.0
36  407    1488   20.0  114.103400  113.506000      149  9.0  14.0  9.0

In [60]:
# GL high attack
attack, defense, hp = 114.45,113, 148
print('Here are the ones that hit all of the BPs')
these = mine[mine.attack >= attack]
these = these[these.defense >= defense]
these = these[these.stamina >= hp]
these

Here are the ones that hit all of the BPs

    CP  max CP  level      attack     defense  stamina    a     d    s
14  11    1489   21.0  114.473415  113.861258      148  5.0  10.0  1.0

In [61]:
# GL waterfall
attack, defense, hp = 114.62, 113, 148
print('Here are the ones that hit all of the BPs')
these = mine[mine.attack >= attack]
these = these[these.defense >= defense]
these = these[these.stamina >= hp]
these

Here are the ones that hit all of the BPs

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s]
Index: []

In [62]:
# UL supreme
attack, defense, hp = 147, 145.3, 197
print('Here are the ones that hit all of the BPs')
these = mine[mine.attack >= attack]
these = these[these.defense >= defense]
these = these[these.stamina >= hp]
these

Here are the ones that hit all of the BPs

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s]
Index: []

In [63]:
# UL the other ten
attack, defense, hp = 147.76, 143.89, 197
print('Here are the ones that hit all of the BPs')
these = mine[mine.attack >= attack]
these = these[these.defense >= defense]
these = these[these.stamina >= hp]
these

Here are the ones that hit all of the BPs

Empty DataFrame
Columns: [CP, max CP, level, attack, defense, stamina, a, d, s]
Index: []

In [ ]:
# gfisk attack bp
these = pht[pht.attack >= 167.98]
# hp breakpoint for mirror
these = these[these.stamina >= 167]
these

In [ ]:
# mew attack bp
these = pht[pht.attack >= 127.8]
these = these[these.defense >= 104.9] # best. next is 104.9.
# hp breakpoint for mirror
these = these[these.stamina >= 128]
these # 3/15/7 is RS, I think maybe 3/14/11 for Azu

In [ ]:
# mew attack bp
these = pht[pht.attack >= 127] 
these = these[these.defense >= 104.9] # best. next is 104.9.
# hp breakpoint for mirror
these = these[these.stamina >= 128]
these

In [ ]:
ivs_to_stats(my_a=3,my_d=14,my_s=11,max_cp=1501)